{% extends "concussiontest/layouts/base.html" %}

{% block content %}
  <!-- Add Page Content Here -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="my-4">A Better Way</h2>
          <p> The King Devick Concussion Test is an easy way to conduct a sideline assessment for a potential concussion. It begins by
            checking for NFL guideline “No go” symptoms, any of which result
            in recommendation for disqualification. If the player passes this initial "No go" assessment, a visual test
            such as the King-Devick test is used. Each player will establish
            a baseline time to complete the test. A deviation of more than 3 seconds is a good indication that the
            player is concussed and should be removed from play.
          <p>

        </div>
      </div>
    </div>
  </section>

{% endblock %}