{% extends "concussiontest/layouts/base.html" %}

{% block content %}
<!-- Add Page Content Here -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Us</h2>
        <p>According to the CDC, 1.6-3.8 million sports and recreation related concussions occur each year in the US. It is the number one cause of death in children and young adults.
		Some studies show that less than half of concussions are reported.
</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}