{% extends "concussiontest/layouts/base.html" %}

{% block content %}
  <!-- Add Page Content Here -->

  <div class="wrapper my-4">
    <h1>Physical Attributes Quiz</h1>
    <div class="quiz-container">
      <div id="quiz"></div>
    </div>
    <button id="previous" class="btn btn-primary">Yes</button>
    <button id="next" class="btn btn-primary">No</button>
    <button id="view_resources" class="btn btn-primary">View Resources</button>
    <button id="visual_test" class="btn btn-primary">Head to Visual Test</button>
    <div id="results"></div>
  </div>

  {% load static %}
  <script src="{% static 'js/grayscale.js' %}"></script>

  <style>

    .question {
      font-size: 1.5rem;
      font-family: 'Work Sans', sans-serif;
    }

    .answers {
      font-size: 1.5rem;
    }

    .wrapper {
      text-align: center;
    }

    button {
      margin: 0 0.5rem;
    }

    button:hover {
      background-color: #38a;
    }

    .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .active-slide {
      opacity: 1;
      z-index: 2;
    }

    .quiz-container {
      position: relative;
      height: 100px;
      margin-top: 40px;
    }

  </style>

{% endblock %}